# IBM Cloud identity url
IDENTITY_URL = https://iam.cloud.ibm.com/identity/token
CLOUD_API_KEY = ""

# wx.data credentials
# location of watsonx data, e.g. "eu-de"
WXD_REGION = ""

# Cloud resource name (CRN)
WXD_INSTANCE_CRN = ""

# COS credentials json
COS_CREDENTIALS_PATH = "./credentials/cos.json"
POSTGRES_CREDENTIALS_PATH = "./credentials/postgres.json"