# token generation for IBM Cloud
IDENTITY_URL = "https://iam.cloud.ibm.com/identity/token"

# fill in your CLOUD API KEY from reference file
CLOUD_API_KEY = ""

#---------------------------------------COS--------------------------
# COS configuration
COS_INSTANCE_CRN = ""
COS_BUCKETS_LOCATION = ""

#----------------------------------Postgres---------------------
# only if you need to update or upload Postgres data

# csv file to upload
csv_file_path='../../data/customers.csv'

# credentials
db_name=
db_user=
db_password=
db_host=
db_port=
schema_name='bankdemo'
table_name='customers_table'

#------------------------------Netezza----------------------------------

# only if you need to upload or update Netezza data

# Netezza credentials
hostname = 
port = 
database = 'INVESTMENTS'
username = 
password = 
schema = 'EQUITY_TRANSACTIONS'